* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

main {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock {
    width: 600px;
    height: 600px;
    border-radius: 50%;
    border: 8px dashed #333;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-hand {
    position: absolute;
    display: flex;
    flex-direction: column; /* Mantém os números empilhados na vertical */
    justify-content: flex-start; /* Começa do topo */
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    pointer-events: none;
    white-space: nowrap;
    left: 50%; /* Move para o centro horizontal */
    top: 50%; /* Move para o centro vertical */
    transform-origin: center left; 
    color: brown;
}
.minute-hand {
    position: absolute;
    display: flex;
    flex-direction: column; /* Mantém os números empilhados na vertical */
    justify-content: flex-start; /* Começa do topo */
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    pointer-events: none;
    white-space: nowrap;
    left: 50%; /* Move para o centro horizontal */
    top: 50%; /* Move para o centro vertical */
    transform-origin: center left; 
    color: blue;
}
.hour-hand {
    position: absolute;
    display: flex;
    flex-direction: column; /* Mantém os números empilhados na vertical */
    justify-content: flex-start; /* Começa do topo */
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    pointer-events: none;
    white-space: nowrap;
    left: 50%; /* Move para o centro horizontal */
    top: 50%; /* Move para o centro vertical */
    transform-origin: center left; 
    color: green;
}

.center {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
}
