* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

main {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock {
    width: 600px;
    height: 600px;
    border-radius: 50%;
    border: 8px dashed #333;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-hand {
    position: absolute;
    display: flex;
    justify-content: flex-end; /* Alinha os números à direita */
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    pointer-events: none;
    white-space: nowrap;
    transform: translateY(0%) translateX(50%);
    transform-origin: 50% 100%;
    color: brown;
}

.center {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
}
